html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  background: black;
}

.tron-logo {
  width: 400px;
  margin: auto;
  padding: 10px;
}

.tron-logo img {
  max-width: 100%;
}

figure {
  display: inline-block;
  border: 10px solid cyan;
}

ul {
}

/*ul:after {
  content: "";
  clear: both;
  display: block;
}*/

li {
  float: left;
  width: 8px;
  height: 8px;
}

.player {
  background: blue;
}

.computer {
  background: #FF4500;
}

h1 {
  color: white;
}
